<div class="post-content">
  <div class="ui grid">
    <div class="four wide column">
      <a class="avatar"
         href="/posts?author=<%= post.author._id %>"
         data-content="<%= ({1:'学校',2:'人文学院', 3:'外国语学院', 4:'艺术与服装工程学院', 5:'生物与食品工程学院', 6:'计算机科学与工程学院', 7:'物理与电子工程学院', 8:'数学与统计学院', 9:'化学与材料工程学院', 10:'机械工程学院', 11:'电气与自动化工程学院', 12:'经济与管理学院', 13:'汽车工程学院', 14:'马克思主义学院', 15:'体育部'})[post.author.rank] %>"
         data-content="<%= post.author.bio %>">
        <img class="avatar" src="/img/<%= post.author.avatar %>">
      </a>
      <p><%= post.author.name %> |</p>
    </div>

    <div class="eight wide column">
      <div class="ui segment">
        <h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>
        <pre><%- post.content %></pre>
        <div>
          <span class="tag"><%= post.created_at %></span>
          <span class="tag right">
            <span>浏览(<%= post.pv %>)</span>
            <span>留言(<%= post.commentsCount %>)</span>

            <% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>
              <div class="ui inline dropdown">
                <div class="text"></div>
                <i class="dropdown icon"></i>
                <div class="menu">
                  <div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>
                  <div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>
                </div>
              </div>
            <% } %>

          </span>
        </div>
      </div>
    </div>
  </div>
</div>