<%- include('header') %>
  <%- include('components/nav') %>
  <%- include('components/nav-setting') %>
<div class="ui grid" style="padding-top:72px;">
  <div class="four wide column"></div>
  <div class="eight wide column">

  <% if (success) { %>
    <div class="ui success message">
      <p><%= success %></p>
    </div>
  <% } %>

  <% if (error) { %>
    <div class="ui error message">
      <p><%= error %></p>
    </div>
  <% } %>

  </div>
</div>
<% if(user){%>
<div class="ui grid">
  <div class="eight wide column" style="margin: 0 auto; ">
    <h3 style="text-align:center;">修改密码</h3>
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>帐号</label>
        <% if(user.permission=='3'){%>
          <input placeholder="帐号" type="text" name="name">
        <% } else { %>
          <span><%= user.name %></span>
          <input type="hidden" value="<%= user.name %>" name="name">
        <% }%>
      </div>
      <div class="field required">
        <label>密码</label>
        <input placeholder="密码" type="password" name="password">
      </div>
      <div class="field required">
        <label>重复密码</label>
        <input placeholder="重复密码" type="password" name="repassword">
      </div>
      <input type="submit" class="ui button fluid" value="修改密码">
    </div>
  </form>
</div>
<%}else{%>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <h3 style="text-align:center;"><a href="/signin"> 请先登录</a></h3>
  </div>
</div>
<%}%><%- include('footer') %>