<%- include('header') %>
 <!-- <div class="nav">
  <div class="ui grid">
  <div class="field required">
    <label>所属院系</label>
    <select class="ui compact selection dropdown" name="rank" onchange="window.location=this.value">
      <option value="0">请选择</option>
      <option value="/posts?rank=1">常熟理工</option>
      <option value="/posts?rank=2">人文学院</option>
      <option value="/posts?rank=3">外国语学院</option>
      <option value="/posts?rank=4">艺术与服装工程学院</option>
      <option value="/posts?rank=5">生物与食品工程学院</option>
      <option value="/posts?rank=6">计算机科学与工程学院</option>
      <option value="/posts?rank=7">物理与电子工程学院</option>
      <option value="/posts?rank=8">数学与统计学院</option>
      <option value="/posts?rank=9">化学与材料工程学院</option>
      <option value="/posts?rank=10">机械工程学院</option>
      <option value="/posts?rank=11">电气与自动化工程学院</option>
      <option value="/posts?rank=12">经济与管理学院</option>
      <option value="/posts?rank=13">汽车工程学院</option>
      <option value="/posts?rank=14">马克思主义学院</option>
      <option value="/posts?rank=15">体育部</option>
    </select>
  </div>
    <div class="twelve wide column">
      <a href="/posts"><h1>校园信息</h1></a>
    </div>
  </div>
</div> -->
<%- include('components/nav') %>
  <%- include('components/nav-setting') %>
  <div class="content clearfix">
  	<%- include('components/personal') %>
	<div class="post-content waterfall">
  <%- include('components/notification') %>
		<% posts.forEach(function (post) { %>
		  <%- include('components/post-content', { post: post }) %>
		<% }) %>
  <div class="loadMore">加载更多食谱</div>
	</div>
  </div>

<%- include('footer') %>
<script type="text/javascript">
  var searchStr = window.location.href.split("/");
  console.log(searchStr.length)
  if (searchStr.length > 4) {
    $('.p_all').show();
    $('.p_short').hide();
    $('.pin').css('padding','0 70px');
  } else {
    $('.p_all').hide();
    $('.p_short').show();
  }
  var i=0;　

  $(window).bind('scroll', function() {　
    var scrollTop = $(this).scrollTop();　　
    var scrollHeight = $(document).height();　　
    var windowHeight = $(this).height();
    console.log(scrollTop + windowHeight+"----"+scrollHeight)
    if (scrollTop + windowHeight == scrollHeight) {
      i++;
      $.ajax({
        url:'/posts?page='+i,
        type:'POST',
        async: false,
        success:function(msg){
          console.log(msg)
        },
        error:function(){}
      })
      // function getCurrPage(arr) {
      //   $.each(arr, function(i, e) {
      //     if (e.indexOf('currentPage') > -1) {
      //       toCurrt = arr[i];
      //     }
      //   })
      // }
      // var urlData = $('.loadMore').attr("data-url");
      // var moreData = urlData.split("?");
      // var currData = moreData[1].split("&");

      // getCurrPage(currData);
      // var thisCurrt = toCurrt.split("=")[1];
      // thisCurrt++;

      // var replaceStr = "currentPage=" + thisCurrt;
      // var postUrl = urlData.replace(toCurrt, replaceStr);
      // searchList(postUrl, 0);　　
    }
  });
</script>